{% extends 'TPI_Cyberparlement/base.html' %}
{% block content %}
    <h1 class="container">Choisissez un parlement ou importez des membres</h1>
    {% for parlement in parlements %}
        <div class="container">
            <a href="{% url 'membres_parlement' pk=parlement.idcyberparlement %}" class="col-md-6">
                <button class="btn btn-primary col-md-3">
                    {{ parlement.nom }}
                    <br>
                    {{ parlement.description }}
                </button>
            </a>
            <form class="form-actions" action="import_csv" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="hidden" type="hidden" name="parlement" id="parlement" value="{{ parlement.pk }}">
                <input class="hidden" type="file" id="file" name="file" value="Importer un fichier CSV">
                <button class="btn btn-success" type="submit">Upload</button>
            </form>
        </div>
        <br>
    {% endfor %}
{% endblock %}
