<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
    {% for m in personnes %}
        {% for p in m %}
        <table style="border-style: double">
            <tr>
                <td>
                    Nom: {{ p.nom }}
                </td>
            </tr>
            <tr>
                <td>
                    Prénom: {{ p.prenom }}
                </td>
            </tr>
            <tr>
                <td>
                    Email: {{ p.email }}
                </td>
            </tr>
            <tr>
                <td>
                    Adresse: {{ p.adresse }}
                </td>
            </tr>
            <tr>
                <td>
                    NPA: {{ p.npa }}
                </td>
            </tr>
            <tr>
                <td>
                    Localité: {{ p.localite }}
                </td>
            </tr>
            <tr>
                <td>
                    Date de Naissance: {{ p.datenaissance }}
                </td>
            </tr>
            <tr>
                <td>
                    No Tel: {{ p.notel }}
                </td>
                <td>
                    <a href="{% url 'modif_membre' pk=p.idpersonne %}">
                        <button>Modifier</button>
                    </a>
                </td>
            </tr>
        </table>
        <br>
        {% endfor %}
    {% endfor %}
{% endblock %}
</html>